.sapMHBox.checkbox-panel{
    /*background-color: #D3D7D9;*/
    padding-right: 7px;
}

.customPaddingBottom{
    padding-bottom: 0.5rem;
    vertical-align: middle;
}

.settingsBox{
    padding-top: .5rem;
}

.settingsLabel{
    padding-right: .5rem;
}

.resetButton{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}